section {
    padding: rem;
}

.about {
    background: var(--color-primary-variant2);
    font-weight: bold;
}

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
}

.about__me-image {
    width: 21rem;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover {
    transform: rotate(0);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: .7rem; /* Reducir el relleno de la tarjeta */
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    transform: scale(1.1);
    background: var(--color-primary-variant);
    border-color: var(--color-bg-variant);
    cursor: default;
    font-weight: bold;
}

.about__icon {
    font-size: 1.2rem; /* Reducir el tamaño del icono */
    margin-bottom: 1rem;
}

.about__icon:hover {
    transition: var(--transition);
    color: var(--color-bg-variant);
}

.about__card h5 {
    font-size: 0.9rem; /* Reducir el tamaño del título */
}

.about__card small {
    font-size: 0.6rem; /* Reducir el tamaño del texto pequeño */
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

.btn:hover {
    font-weight: bold;
    transform: scale(1.1); /* Increase the size of the button */
}

.about__text {
    font-size: .95rem; /* Reducir el tamaño del texto */
    margin-bottom: 1rem;
}

.about__me__header{
    font-weight: bold;
}

/* Media queries (Medium devices) */

@media screen and (max-width: 1024px){
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin-top: 1rem 0 1.5rem;
    }
}

/* Media queries (small devices) */

@media screen and (max-width: 600px){
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .about__content p {
        margin: 1rem 0;
    }
}