/* Estilo predeterminado para la barra de navegación */
nav {
    background: rgba(0, 0, 0, 0);
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.1rem;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(20px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
    font-size: 1rem;
    backdrop-filter: blur(20px);
    transition: background-color 0.3s ease;
}

nav a:hover {
    background: #29cce91f;
}

nav a.active {
    transform: scale(1.1);
    background: var(--color-primary-variant);
    color: var(--color-white);
    font-weight: bold;
    transition: var(--transition);
}

/* Estilo para dispositivos medianos (tabletas, etc.) */
@media screen and (max-width: 1024px){
    nav {
        bottom: 0; /* Ajusta la posición en la parte inferior */
        padding: 1rem; /* Ajusta el relleno */
    }

    nav a {
        padding: 0.5rem; /* Ajusta el relleno de los enlaces */
        font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
    }
}

@media screen and (max-width: 600px){
    nav {
        justify-content: space-around; /* Cambia el estilo para centrar y espaciar los elementos */
        padding: 1rem; /* Ajusta el relleno */
        bottom: 2rem; /* Ajusta la posición en la parte inferior (sube la barra) */
    }

    nav a {
        padding: 0.5rem; /* Ajusta el relleno de los enlaces */
        font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
    }
}